@import "../components/bootstrap/less/bootstrap.less";

@font-face {
    font-family: 'PTSerifRegular';
    src: url('../fonts/PTF55F-webfont.eot');
    src: url('../fonts/PTF55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTF55F-webfont.woff') format('woff'),
         url('../fonts/PTF55F-webfont.ttf') format('truetype'),
         url('../fonts/PTF55F-webfont.svg#PTSerifRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Frontage-3D';
	src: url('../fonts/257121_0_0.eot');
	src: url('../fonts/257121_0_0.eot?#iefix') format('embedded-opentype'),
		url('../fonts/257121_0_0.woff') format('woff'),
		url('../fonts/257121_0_0.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Frontage-Shadow';
	src: url('../fonts/257121_1_0.eot');
	src: url('../fonts/257121_1_0.eot?#iefix') format('embedded-opentype'),
		url('../fonts/257121_1_0.woff') format('woff'),
		url('../fonts/257121_1_0.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Frontage-Regular';
	src: url('../fonts/257121_2_0.eot');
	src: url('../fonts/257121_2_0.eot?#iefix') format('embedded-opentype'),
		url('../fonts/257121_2_0.woff') format('woff'),
		url('../fonts/257121_2_0.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
}

::-moz-selection{ background: fade(@black, 70%); color:#fff; text-shadow: none; }
::selection { background: fade(@black, 70%); color:#fff; text-shadow: none; }

body {
	color: fade(@black, 90%);
	text-shadow: 1px 1px 0 fade(@white, 50%);
	font-family: "PTSerifRegular";
	background: #f5f5f5 url("../img/stripes.png") repeat;

	header {
		position: fixed;
		width: 300px;
		margin: 70px 0 0 20px;
		text-align: justify;
		z-index: 100;

		.header-title {
			position: relative;
			left: -10px;

			.header-font {
				position: absolute;
				font-size: 5em;
				letter-spacing: -10px;
			}

			.header-3d {
				font-family: "Frontage-3D";
				z-index: 9;
				color: fade(@black, 90%);
				top: -1px;
				left: 0;
				.header-font;
			}

			.header-shadow {
				font-family: "Frontage-Shadow";
				z-index: 8;
				color: fade(@black, 20%);
				top: 0;
				left: 0;
				.header-font;
			}

		}

		p {
			margin-top: 60px;
		}

		.nav {
			list-style-type: none;
			margin-top: 20px;
			margin-left: -20px !important;

			li {
				text-align: right;

				a {
					color: @black;
					text-shadow: none;
					padding: 0 10px 4px 100px;
					font-family: "Frontage-Regular";

					&:hover {
						background: transparent;
					}
				}

				&.active {

					a {
						color: @white;
						text-shadow: none;
					
						&[href^="#work"] {
							background: #FE4365;
						}

						&[href^="#contact"] {
							background: #83AF9B;
						}
					}
					
				}
			}
		}

		.socials {
			position: fixed;
			bottom: 10px;

			i {
				font-size: 2em;
			}

			a {
				color: fade(@black, 50%);
				margin-right: 10px;

				&:hover {
					text-decoration: none;
					color: @black;
					text-shadow: none;
				}
			}
		}
	}

	.row {
		margin-left: -20px !important;
	}

	section {
		border-bottom: 1px solid fade(@black, 20%);
		.box-shadow(0 1px 0 @white);
		position: relative;
		left: 375px;
		padding: 35px 0;

		&.error {
			background: #474746 url("../img/stripes.png") repeat;
			width: 100%;
			position: static;
			text-align: center;
			color: fade(@white, 90%);
			text-shadow: 1px 1px 0 fade(@black, 50%);

			a {
				color: #c12843;
			}
		}
	}

	h1 {
		color: @white;
		text-shadow: 2px 3px 0 @black;
		font-size: 6em;
		margin-bottom: 40px;
	}

	h1, h2 {
		font-family: "BebasNeueRegular";
		font-weight: normal;
	}

	h2 {
		text-shadow: 1px 2px 0 @white;
	}

	.thumbnails {
		margin-left: 0;

		.work-item {
			background: @white;
			.box-shadow(2px 2px 1px fade(@black, 10%));
			text-shadow: none;
			max-width: 290px;
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;

			.image {
				position: relative;

				a {
					img {
						border-top-left-radius: 8px;
						border-top-right-radius: 8px;
					}
				}

				&:hover {
					.image-overlay {
						opacity: 1;
						border-top-left-radius: 8px;
						border-top-right-radius: 8px;
					}
				}

				.image-overlay {
					position: absolute;
					top: 0;
					background: fade(@black, 80%);
					height: 100%;
					width: 100%;
					text-align: center;
					vertical-align: middle;
					opacity: 0;
					text-transform: uppercase;
					letter-spacing: 3px;
					text-shadow: 0 1px 0 @black;
					font-weight: normal;
					transition: opacity .15s ease-in-out;
	                -o-transition: opacity .15s ease-in-out;
	                -moz-transition: opacity .15s ease-in-out;
	                -webkit-transition: opacity .15s ease-in-out;

	                p {
	                	position: absolute;
	                	top: 50%;
	                	width: 100%;
	                	font-family: "BebasNeueRegular";
	                	color: @white;
	                	opacity: 0.8;
	                }
				}
			}

			.caption {
				padding: 0 10px 10px 10px;
				color: fade(@black, 80%);
				text-align: justify;

				h3 {
					color: @black;
					text-transform: uppercase;
					font-family: "BebasNeueRegular";
					font-weight: normal;
					font-size: 2.3em;
					border-bottom: 1px solid fade(@black, 30%);

					small {
						.pull-right;
						margin-top: 18px;
					}
				}

				small {
					text-transform: uppercase;

					a {
						.pull-right;
						color: #D95B43;
					}
				}
			}
		}
	}

	.email {
		font-family: "Frontage-Regular";
		font-size: 1em;
	}
}

@import "../components/bootstrap/less/responsive.less";
@import "../components/fancybox/source/jquery.fancybox.css?v=2.1.3";

.fancybox-nav {
    width: 60px;       
}

.fancybox-nav span {
    visibility: visible;
    opacity: 0.5;
}

.fancybox-nav:hover span {
    opacity: 1;
}

.fancybox-next {
    right: -60px;
}

.fancybox-prev {
    left: -60px;
}

@media (max-width: 480px) {
	header {
		display: static;
	}

	section {
		left: 0;
	}
}