@import "../components/bootstrap/less/bootstrap.less";

@font-face {
    font-family: 'ChunkFiveRoman';
    src: url('../fonts/chunkfive-webfont.eot');
    src: url('../fonts/chunkfive-webfont.eot?iefix') format('eot'),
         url('../fonts/chunkfive-webfont.woff') format('woff'),
         url('../fonts/chunkfive-webfont.ttf') format('truetype'),
         url('../fonts/chunkfive-webfont.svg#webfont8ob4Enur') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansRegular';
    src: url('../fonts/ptsansregular-webfont.eot');
    src: url('../fonts/ptsansregular-webfont.eot?iefix') format('eot'),
         url('../fonts/ptsansregular-webfont.woff') format('woff'),
         url('../fonts/ptsansregular-webfont.ttf') format('truetype'),
         url('../fonts/ptsansregular-webfont.svg#webfontMPoPVFd4') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	color: fade(@white, 90%);
	text-shadow: 1px 1px 0 fade(@black, 50%);
	font-family: "PTSansRegular";

	.navbar {
		.navbar-inner {
			background: transparent;
			border: none;
			.box-shadow(none);

			li {
				background: @black;
				text-transform: uppercase;
				font-weight: bold;
				font-size: 0.8em;

				&.active {
					background: transparent;

					a {
						background: lighten(@black, 10%);
						.box-shadow(none);

						&:hover,
						&:focus {
							background: lighten(@black, 10%);
						}
					}
				}
			}
		}
	}

	.page {
		border-bottom: 5px solid fade(@black, 20%);

		[class^="span"] {
			margin-left: 10px;
		}

		&.about {
			background: #C02942 url("../img/stripes.png") repeat;
		}

		&.work {
			background: #D95B43 url("../img/stripes.png") repeat;
		}

		&.skills {
			background: #542437 url("../img/stripes.png") repeat;
		}

		&.contact {
			background: #53777A url("../img/stripes.png") repeat;
			padding-bottom: 0;
		}

		> div {
			padding: 60px 0;
		}
	}

	h1 {
		color: @white;
		text-shadow: 2px 3px 0 @black;
		font-size: 5em;
		margin-bottom: 40px;
	}

	h1, h2 {
		font-family: "ChunkFiveRoman";
		font-weight: normal;
	}

	h2 {
		text-shadow: 1px 2px 0 fade(@black, 50%);
	}

	.work-item {
		background: fade(@black, 60%);
		margin-bottom: 30px;
		margin-left: 10px;

		img {
			border: 10px solid fade(@black, 40%);
		}

		.caption {
			padding: 0 10px 10px 10px;
			color: fade(@white, 60%);

			h3 {
				color: @white;
				border-bottom: 1px solid @white;
			}

			p {
				min-height: 100px;
			}

			small {
				text-transform: uppercase;

				a {
					.pull-right;
					color: @white;

					&:hover {
						color: darken(@white, 40%);
						text-decoration: none;
					}
				}
			}
		}
	}

	.progress {
		border-radius: 0;
		background: fade(@black, 30%);

		.bar {
			background: #776559;
			text-align: left;
			padding-left: 5px;
		}
	}
}

//@import "../components/bootstrap/less/responsive.less";